.genre_badge {
    margin: 20px 0 0 0;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: rgb(43,77,142);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 16px;
    cursor: pointer;
    width:150px;
}

.numbers {
    color: darkorange;
}

.genre_badge:hover {
    background-color: rgb(26,51,100);
    border: 1px solid rgb(26,51,100);
}

.active {
    background-color: dodgerblue;
    color: snow;
    border: 1px solid dodgerblue;
}