.genre_badge {
    margin: 20px 0 0 0;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: deepskyblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 16px;
    cursor: pointer;
    width:150px;
}

.numbers {
    color: darkorange;
}

.genre_badge:hover {
    background-color: cornflowerblue;
}

.active {
    background-color: #0056b3;
    color: snow;
    border: 1px solid #0056b3;
}