.genre_badge {
    margin: 20px 0 0 0;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: deepskyblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.numbers {
    color: darkorange;
}