.Pagination  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.button {
    background-color: rgb(43,77,142);
    color: snow;
    border: 1px solid rgb(43,77,142);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    margin-right: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(26,51,100);
    border: 1px solid rgb(26,51,100);
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.active {
    background-color: dodgerblue;
    color: snow;
    border: 1px solid dodgerblue;
}