.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: snow;
    height: 100px;
}

.Header a {
    text-decoration: none;
    font-size: 35px;
}

.Header h1 {
    font-family: Baskerville, sans-serif;
    font-size: 50px;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dark {
    background-color: rgb(40,48,68);
    color: #fff;
}

.dark.Header h1 {
    color: rgb(127,128,132);
}

.dark.Header a {
    color: rgb(91,103,142);
}

.dark.Header a:hover {
    color: rgb(172,173,175);
}

.dark.Header a[class='active']{
    color: rgb(255,149,23);
}

.dark.Header h4 {
    color: rgb(172,173,175);
}

.light {
    background-color: rgb(246,248,255);
    color: #333;
}

.light.Header h1 {
    color: rgb(26,51,100);
}

.light.Header a {
    color: rgb(64,82,130);
}

.light.Header a:hover {
    color: rgb(26,51,100);
}

.light.Header a[class='active']{
    color: rgb(255,189,22);
}

.light.Header h4 {
    color: rgb(64,82,130);
}



