.Movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 500px;
    padding-top: 20px;
    font-size: 20px;
    font-family: "Malayalam MN", sans-serif;
    transition: transform 0.3s;
    margin: 40px 0 40px 0;
}

.Movie:hover {
    cursor: pointer;
    transform: scale(1.07);

}

.poster {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

