.backBtn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.backBtn button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(43,77,142);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.backBtn button:hover {
    background-color: rgb(26,51,100);
}