*{
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --background-color: rgb(34,39,43);
  --text-color: #fff;
}

body.light {
  --background-color: rgb(255,255,255);
  --text-color: #333;
}


